<md-dialog
  aria-label="{{ ::form.titulo }}"
  flex-gt-md="50"
  flex-gt-xs="70"
  flex-xs="90"
>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{ ::form.titulo }}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="form.cancel()">
        <md-icon md-svg-src="close" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <div ng-if="!form.addNew && form.name && form.attr && form.item">
    <md-dialog-content>
      <md-contact-chips
        ng-model="form.list"
        md-contacts="form.querySearch($query)"
        md-contact-name="titulo"
        md-contact-image="avatarchip"
        md-contact-email="email"
        md-require-match="true"
        md-highlight-flags="i"
        filter-selected="form.filterSelected"
        placeholder="Seleccione"
      >
      </md-contact-chips>
      <md-content layout="column" flex>
        <md-subheader class="md-no-sticky">
          {{ ::form.name }}
        </md-subheader>
        <md-list layout="row" layout-wrap>
          <md-list-item
            class="md-2-line contact-item"
            ng-repeat="(index, item) in form.allList"
          >
            <md-button
              ng-click="form.addToList(item)"
              ng-class="{'md-raised': form.hasList(item)}"
            >
              <img
                ng-if="item.avatar"
                ng-src="{{ ::(form.getUrlImg(item.avatar)) }}"
                class="md-avatar"
                alt="{{ ::item.titulo }}"
              />
              <div class="md-list-item-text compact">
                <h3>{{ ::item.titulo}}</h3>
                <p>{{ ::item.email }}</p>
              </div>
            </md-button>
          </md-list-item>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
      <md-button ng-click="form.addNew = true">
        Agregar Nuevo
      </md-button>
      <md-button ng-click="form.saveList()">
        Guardar
      </md-button>
    </md-dialog-actions>
  </div>
  <form
    ng-if="form.addNew || (!form.name || !form.attr || !form.item)"
    ng-submit="form.submit()"
  >
    <md-dialog-content class="md-padding">
      <div
        ng-repeat="(name, attr) in form.attrs"
        ng-if="(attr.type && !form.nextForm || form.nextForm)"
      >
        <md-datepicker
          ng-if="attr.type === 'date'"
          ng-model="form.obj[name]"
          md-placeholder="{{ ::name }}"
          md-max-date="form.today"
          layout-align="center center"
          layout="row"
          flex
        ></md-datepicker>
        <md-input-container
          ng-if="attr.type !== 'date' && attr.type !== 'datetime'"
          layout="row"
        >
          <md-button
            ng-if="form.nextForm && (attr.model || attr.collection)"
            aria-button="agregar"
            class="md-icon-button md-raised md-accent md-hue-1"
            ng-click="form.openForm($event, name, attr)"
          >
            <md-icon md-svg-src="plus" aria-label="icon-agregar"></md-icon>
          </md-button>
          <label>
            {{ ::name }}
          </label>
          <input
            ng-if="attr.type && !attr.enum"
            type="{{ ::(name === 'password'?name:(attr.type === 'int' || attr.type === 'integer' || attr.type === 'float')?'number':(attr.type === 'string'?'text':attr.type)) }}"
            ng-model="form.obj[name]"
            flex
            ng-disabled="name === attr.via"
          />
          <md-select
            ng-if="attr.collection"
            aria-label="{{ ::name }}"
            ng-model="form.obj[name]"
            multiple
            flex
            ng-disabled="name === attr.via"
          >
            <md-option
              ng-repeat="item in form.opts[name]"
              ng-value="item.id"
            >
              {{ ::item.titulo }}
            </md-option>
          </md-select>
          <md-select
            ng-if="attr.model || attr.enum"
            aria-label="{{ ::name }}"
            ng-model="form.obj[name]"
            flex
            ng-disabled="name === attr.via"
          >
            <md-option
              ng-repeat="item in form.opts[name]"
              ng-value="item.id"
            >
              {{ ::item.titulo }}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
      <md-button
        ng-if="form.name && form.attr && form.item"
        ng-click="form.addNew = false"
      >
        Seleccionar
      </md-button>
      <md-button type="submit">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
