
<div layout="column" flex role="main" layout-fill ui-view>
  <md-content layout="vertical" flex>
    <div layout="row" layout-align="center center" layout-fill>
      <form
        ng-submit="main.login()"
        layout="column"
        flex="90"
        flex-xs="80"
        flex-sm="60"
        flex-md="50"
        flex-gt-md="30"
        layout-padding
        md-whiteframe="2dp"
      >
        <div layout-align="center center" layout="row">
          <img src="images/logo.png" />
        </div>
        <md-input-container>
          <label>Username</label>
          <input ng-model="main.user.username">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input ng-model="main.user.password" type="password">
        </md-input-container>
        <div layout="row" layout-sm="column" layout-margin>
          <div layout="column" flex>
            <md-button
              aria-label="login"
              class="md-raised md-primary"
              type="submit"
            >Login</md-button>
          </div>
          <!--<md-button class="md-raised md-primary" flex>Register</md-button>-->
        </div>
      </form>
    </div>
  </md-content>
</div>
<!--<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>-->
